/* Safari-Theme-for-Firefox
 * https://github.com/diedummydie/Safari-Theme-for-Firefox
 * Segments with links are released according to the
 * license of original creator. Segments not otherwise
 * specified are free and unencumbered code 
 * released into the public domain.
 */


/* https://github.com/MrOtherGuy/firefox-csshacks */
@import "chrome/window_control_placeholder_support.css";
@import "chrome/Fx65_tabs_on_bottom.css";
@import "chrome/hide_tabs_with_one_tab.css";


#appcontent tabbrowser,#content,#tabbrowser-tabpanels,
browser[type=content-primary],browser[type=content]>html {
    background: none!important;
    background-color: var(--toolbar-bgcolor)!important
}

spacer {
    visibility: hidden!important
}

.titlebar-buttonbox-container {
    top: 0!important
}

#nav-bar {
    background-image: linear-gradient(#ffffff01,#0000001d)!important;
    margin-left: -82px;
    margin-right: -16px;
    border-top: 1px solid var(--lwt-toolbar-vertical-separator)
}

#nav-bar:-moz-window-inactive {
    background-image: none!important;
    background-color: var(--lwt-accent-color-inactive)!important
}

tab {
    background-image: linear-gradient(#ffffff00,#00000011)!important;
}

tab:hover {
    background-image: linear-gradient(#ffffff08,#00000019)!important
}

tab:-moz-window-inactive {
    background-image: none!important;
    background-color: var(--lwt-accent-color-inactive)!important;
    color: var(--panel-disabled-color)!important
}

.tab-background,.tabbrowser-tab {
    box-shadow: none!important;
    outline: 0!important;
    box-sizing: border-box!important;
    border-bottom: none!important
}

#urlbar {
    background-image: linear-gradient(#ffffff06,#00000000)!important;
    box-shadow: inset 0 1px 0 ffffff2a!important;
    min-height: 22px!important;
    height: 24px!important;
    margin-top: 3px!important;
    margin-bottom: 3px!important;
    box-sizing: border-box;
    border: 1px #3b3b3b44 solid!important;
    border-bottom: 1px #37373744 solid!important
}

#urlbar:-moz-window-inactive {
    opacity: .5!important
}

#nav-bar .toolbarbutton-badge-stack,#nav-bar toolbarbutton>.toolbarbutton-icon {
    background-image: linear-gradient(#ffffff04,#ffffff00)!important;
    background-color: var(--lwt-toolbar-field-background-color, hsla(0,0%,100%,1))!important;
    box-shadow: inset 0 1px 0 #ffffff22!important;
    padding: 3px 10px!important;
    margin-left: 2px!important;
    margin-right: 2px!important;
    height: 24px!important;
    width: 39px!important;
    border-radius: 5px!important;
    opacity: 1!important;
    background-clip: padding-box;
    border: 1px #47474720 solid!important;
    border-bottom: 1px #4444443a solid!important
}

#PanelUI-menu-button[disabled=true],#nav-bar-overflow-button[disabled=true],
#urlbar *,.tabbrowser-arrowscrollbox>.scrollbutton-down[disabled=true],
.tabbrowser-arrowscrollbox>.scrollbutton-up[disabled=true],
:root:not([customizing]) .toolbarbutton-1[disabled=true] {
    opacity: 1!important;
    fill-opacity: .25!important
}

#main-window :-moz-any(#back-button, #forward-button) .toolbarbutton-badge-stack,#main-window :-moz-any(#back-button, #forward-button) .toolbarbutton-icon {
    padding: 3px 5px!important;
    margin-left: 0!important;
    margin-right: 0!important;
    width: 27px!important
}

#back-button {
	list-style-image: url("chrome://browser/skin/arrow-left.svg")!important;
}

#forward-button {
	list-style-image: url("chrome://browser/skin/arrow-left.svg")!important;
    transform: scaleX(-1) !important;
}

#main-window #forward-button .toolbarbutton-badge-stack,#main-window #forward-button .toolbarbutton-icon {
    /* direction swapped because of scale(-x) */
    margin-left: 4px!important;
    margin-right: -3px!important
}

#PanelUI-menu-button:-moz-window-inactive>.toolbarbutton-badge-stack,#PanelUI-menu-button:-moz-window-inactive>.toolbarbutton-badge-stack:hover,#downloads-button:-moz-window-inactive>.toolbarbutton-badge-stack,#downloads-button:-moz-window-inactive>.toolbarbutton-badge-stack:hover,#main-window:not([customizing]) .toolbarbutton-1:-moz-window-inactive[disabled=true],#nav-bar:-moz-window-inactive toolbarbutton>.toolbarbutton-icon,#nav-bar:-moz-window-inactive toolbarbutton>.toolbarbutton-icon:hover,.toolbarbutton-1:not(:hover):-moz-window-inactive {
    opacity: .6!important;
    fill: gray!important
}

.arrowscrollbox-overflow-end-indicator,.arrowscrollbox-overflow-start-indicator,.scrollbutton-down,.scrollbutton-up,.tab-drop-indicator-box .tab-drop-indicator,.tab-drop-indicator-box image {
    visibility: collapse;
    min-width: 20px;
    max-width: 20px;
    min-height: 25px;
    max-height: 25px;
    fill-opacity: 50%!important;
    opacity: 100%!important;
    border-top: 1px solid var(--tabs-border-color)!important;
    border-left: 1px solid var(--tabs-border-color)!important;
    border-right: 1px solid var(--tabs-border-color)!important
}

.arrowscrollbox-overflow-end-indicator,.arrowscrollbox-overflow-start-indicator,.tab-drop-indicator-box image {
    display: none!important;
    visibility: collapse!important;
    border: 0!important
}

#urlbar .urlbar-input-box,.searchbar-textbox>moz-input-box,tab .tab-icon {
    opacity: .9!important
}

#TabsToolbar-customization-target {
    min-height: 25px;
    max-height: 25px;
    padding: 0
}

.tab-line {
    display: none!important
}

.tabbrowser-tab {
    border-top: 1px solid var(--tabs-border-color)!important;
    border-bottom: 1px solid var(--tabs-border-color)!important
}

.tabbrowser-tab:-moz-window-inactive {
    opacity: .5!important;
    border-bottom: none!important
}

.tabbrowser-tab .tab-close-button {
    -moz-box-ordinal-group: 0!important;
    margin: 0px 6px 0px -4px!important;
    width: 16px;
    height: 16px;
    display: none!important
}

.tab-icon-image {
    opacity: .9!important
}

.tab-icon-image,.tab-throbber {
    margin-left: -4px;
}

.tabbrowser-tab:not([pinned=true]):hover .tab-icon-image,.tabbrowser-tab:not([pinned=true]):hover .tab-throbber {
    display: none
}

.tabbrowser-tab:not([pinned=true]):hover .tab-close-button {
    display: -moz-box!important;
}

.tab-icon-image:-moz-window-inactive {
    opacity: .2!important
}

.widget-overflow-list .chromeclass-toolbar-additional image {
    max-width: 16px!important;
    max-height: 16px!important
}

#PlacesToolbar .toolbarbutton-icon[label]:not([label=""]),#PlacesToolbar .toolbarbutton-icon[type=menu] {
    filter: grayscale(100%) contrast(100%)!important;
    margin-inline-end: 0!important
}

#identity-box~:hover,#tracking-protection-icon-container:hover,#tracking-protection-icon-container~:hover,#urlbar-input-container:focus-within>*,#urlbar:focus-within>*,.searchbar-textbox:focus-within>*,.searchbar-textbox:hover>* {
    opacity: 1
}

#identity-box>#identity-icon-labels {
    transition: max-width 150ms linear!important
}

#identity-box:not(:hover)>#identity-icon-labels {
    max-width: 0!important
}

.browserContainer>findbar {
    -moz-box-ordinal-group: 0;
    position: fixed!important;
    right: 1em;
    border: 1px solid threedshadow!important;
    border-top: none!important;
    box-shadow: none!important;
    background-image: none!important
}

.findbar-closebutton {
    margin-inline-start: .5em!important;
    vertical-align: middle!important;
    margin-bottom: .25em!important;
    height: inherit!important
}